/* FONT DE TITULOS: FREDOKA ONE*/
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
/* FONT DE BODY: RUBIK*/
@import url('https://fonts.googleapis.com/css?family=Rubik');

/* --------------------------------------------------------------------- */

body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

.globalTitle {
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    text-align: center;
    background-color: #abd9fd;
    border-radius: 10px;
    margin-top: 1%;
    margin-right: 2%;
}

.description {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.sectionTitle {
    background-color: #abc6fd;
    border-radius: 10px;
    margin-top: 2%;
    margin-right: 3%;
}

h1 {
    font-family: 'Fredoka One', sans-serif;
    font-size: 40px;
    text-align: center;
}


.idTitle, .modal-title {
    font-family: 'Fredoka One', sans-serif;
    font-size: 40px;
    text-align: center;
}

.subtitle {
    font-family: 'Fredoka One', sans-serif;
    font-size: 30px;
    text-align: left;
    margin-left: 10%;
    color: #e2815e;
    text-shadow: 1px 1px 1px #000;
}

/*Que el navbar tenga sombra*/
.navbar-nav{
    box-shadow: 0 0 10px rgba(0,0,0,1.5);
}

/*li: links (textos)*/
#logo{
    width: 50%;
    align-items: center;
    padding-left: 10%;
    padding-top: 20px;
}

#logo:hover:not(.active) {
    filter: drop-shadow(0px 3px 3px #abc6fd);
}

.nav-link:not(.active) {
    font-weight: 300;
    color: white;
    display: block;
    padding: 15px 15px;
}

/*Cuando se hace hover, cambia de color en todo el ancho*/
.nav-link:hover:not(.active){
    color: #1f466d;
    font-weight: 300;
    background-color: #abc6fd;
    width: 100%;
    padding: 25px;
}

.nav-link:active{
    color: #F9FEFF;
    font-weight: 300;
    background-color: #2ec181;
    width: 100%;
    padding: 15px;
}

/*lu: contenedor de links*/
.navbar-nav {
    list-style-type: none;
    width: 13%;
    background-color: #1f466d;
    position: fixed;
    height: 100%;
    overflow: auto;
}


/* Opción de cerrar sesión esté hasta abajo del navbar*/
#CerrarSesion {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*---------------------------------------------------------------------*/
.divContent {
    margin-left: 14%;
    height:auto;
}

.rounded-circle {
    width: 120px;
}

.media {
    box-shadow:1px 1px #1f466d;
    margin-right: 20%;
}

.chartBox {
    float: left;
    display: inline-block;
    width:40%;
    padding: 10px;
}


#favoriteDrink {
    width: 100%;
    height: 100%;
}

#myDailyBarChart {
    width: 100%;
    height: 100%;
}