/* FONT DE TITULOS: FREDOKA ONE*/
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
/* FONT DE BODY: RUBIK*/
@import url('https://fonts.googleapis.com/css?family=Rubik');

/* --------------------------------------------------------------------- */

body {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

.idTitle, .modal-title {
    font-family: 'Fredoka One', sans-serif;
    font-size: 40px;
    text-align: center;
}

.subtitle {
    font-family: 'Fredoka One', sans-serif;
    font-size: 30px;
    text-align: left;
    margin-left: 10%;
    color: #d77754;
    text-shadow: 1px 2px 2px #000;
}

/*Que el navbar tenga sombra*/
.navbar-nav{
    box-shadow: 0 0 10px rgba(0,0,0,1.5);
}

/*li: links (textos)*/
#logo{
    width: 50%;
    align-items: center;
    padding-left: 10%;
    padding-top: 20px;
}

#logo:hover:not(.active) {
    filter: drop-shadow(0px 3px 3px #abc6fd);
}

.nav-link:not(.active) {
    font-weight: 300;
    color: white;
    display: block;
    padding: 15px 15px;
}

/*Cuando se hace hover, cambia de color en todo el ancho*/
.nav-link:hover:not(.active){
    color: #1f466d;
    font-weight: 300;
    background-color: #abc6fd;
    width: 100%;
    padding: 25px;
}

.nav-link:active{
    color: #F9FEFF;
    font-weight: 300;
    background-color: #2ec181;
    width: 100%;
    padding: 15px;
}

/*lu: contenedor de links*/
.navbar-nav {
    list-style-type: none;
    width: 13%;
    background-color: #1f466d;
    position: fixed;
    height: 100%;
    overflow: auto;
}


/* Opción de cerrar sesión esté hasta abajo del navbar*/
#CerrarSesion {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*---------------------------------------------------------------------*/
.container {
        margin-left: 14%;
        margin-right: 1%;
        margin-top: 1%;
        margin-bottom: 1%;
        height: auto;
}

.rounded-circle.user {
    width: 220px;
}

.rounded-circle.drink {
    width: 100px;
    display: block;
    text-align: center;
    
}

#EditarCuentaBoton, #ConsumoBoton, #MetaBoton {
    background-color: #abc6fd;
    color: #1f466d;
    border: none;
    border-radius: 10px;
    
}

#EditarCuentaBoton:hover, #ConsumoBoton:hover, #MetaBoton:hover{
    background-color: #1f466d;
    color: #abc6fd;
    border: none;
    border-radius: 10px;
    
}

#userCard {
    margin-top: 5%;
    margin-left: 10%;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: #fefae5;
    background-image: url('../IMAGES/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 4px rgba(0,0,0,1.5);
}



#userGoal  {
    margin-top: 5%;
    margin-left: 10%;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: #ffeac8;
    box-shadow: 0 0 4px rgba(0,0,0,1.5);
}

.drinkCards  {
    margin-left: 10%;
    width: 100%;
    height: 100%;

}

.card-body {
    padding: 25px;
}

.card-title {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Rubik', sans-serif;
    color: #1f466d;
}

.card-text {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Rubik', sans-serif;
    color: #345d87;
}

#goalDigit {
    font-size:40px;
    text-align: center;
}

#drinks {
    margin-top: 10%;
}

#divisor {
    margin-left:10%;
    border-width: 2px;
    background-color: #1f466d;
}



