/* FONT DE TITULOS: FREDOKA ONE*/
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
/* FONT DE BODY: RUBIK*/
@import url('https://fonts.googleapis.com/css?family=Rubik');

/* --------------------------------------------------------------------- */

body {
    font-family: 'Rubik', sans-serif;
}

/*Que el navbar tenga sombra*/
.navbar-nav{
    box-shadow: 0 0 10px rgba(0,0,0,1.5);
}

/*li: links (textos)*/
.nav-link:not(.active) {
    font-weight: 300;
    color: white;
    display: block;
    padding: 15px 15px;
}

/*Cuando se hace hover, cambia de color en todo el ancho*/
.nav-link:hover:not(.active){
    color: #1f466d;
    font-weight: 300;
    background-color: #abc6fd;
    width: 100%;
    padding: 25px;
}

.nav-link:active{
    color: #F9FEFF;
    font-weight: 300;
    background-color: #2ec181;
    width: 100%;
    padding: 15px;
}

/*lu: contenedor de links*/
.navbar-nav {
    list-style-type: none;
    width: 13%;
    background-color: #1f466d;
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* Opción de Cuenta esté arriba de cerrar sesión */
#CuentaAjustes {
    
}

/* Opción de cerrar sesión esté hasta abajo del navbar*/
#CerrarSesion {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*---------------------------------------------------------------------*/
.divContent {
    margin-left: 14%;
    height:auto;
}

